
html,
body,
* {
  cursor: none !important;
}

.big-ball,
.small-ball {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 10000;
  border-radius: 50%;
  will-change: transform, opacity;
  transition: opacity 0.2s ease;
  svg {
    circle {
      fill: #f7f8fa;
    }
  }
}

.big-ball {
  width: 30px;
  height: 30px;
  mix-blend-mode: difference;
  transition: opacity 0.2s ease;
}

.small-ball {
  width: 10px;
  height: 10px;
  mix-blend-mode: normal;
  svg {
    circle {
      fill: hsl(var(--foreground));
    }
  }
}
